.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .title {
    text-align: center;
  }
  
  .btn-group {
    text-align: center;
  }
  
  .challenge-container {
    text-align: center;
  }
  
  .form-group {
    text-align: center;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input,
  .button {
    display: block;
    margin: 10px auto;
  }
  
  .button {
    padding: 10px;
  }
  
  .score {
    text-align: center;
  }
  
  .score-value {
    font-weight: bold;
  }